
.kontainer {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
 
    
}
.header {
  
    background-color: #ef1bb3;
    padding: 20px;
    height: 100px;
    text-align: center;
  }
  .Nav {
  
    overflow: hidden;
    background-color: #4160ea;
  }
  
  
  .Nav a {
    float: left;
    display: block;
    color: #f3d6d6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .Nav a:hover {
    background-color: #deb5b5;
    color: black;
  
  }
  
  .tugas a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: bold;
    float: left;
  }
  
  
  
  .menu{
   float: right;  
  }
  
  .Nav {
    width: 100%;
  
    line-height: 80%;
    
    top: 0;
    
  }
  
  .Nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
  }
  
  .Nav ul li {
    float: left;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .Nav {
    overflow: hidden;
    background-color: #3a5bee;
  }
  
 
  .Nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.Nav a:hover {
    background-color: #ddd;
    color: black;
  }

#in {
  border-radius: 70px;
  border: 2px solid #d80da6;
  width: 90%;
  height: 50%;
}

.column1 {
  padding-top: 20px;
  padding-bottom: 20px;
  float: left;
  width: 25%;
  padding: 15px;
}

.column2 {
  float: left;
  width: 68.5%;
  padding: 15px;
  border: 2px solid #d80da6;

}

.column2 .warna h2 {
  border-bottom:2px solid #d80da6;;
}




.row::after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}


#main1{
  
  background-color: rgb(255, 255, 255);
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #d80da6;
}
#main2{
  border: 2px solid;
  background-color: #ffffff;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #d80da6;

  
}
#main3{
  background-color: #ffffff;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #d80da6;
 }





.Footer {
  position:relative;
  padding: 1%;
   color: white;
   text-align: center;
  background-color: #a977b6;

}