
*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    text-align: center;
    top: 50%;
    color: black;
}
.container .header{
    min-height: 100px;
    background-color: rgb(45, 240, 231);
}
.container .nav{
    height: 70px;
    background-color: rgb(242, 231, 193);
}
.container .content{
    grid-area: content;
    background-color: rgb(218, 166, 99);
    display: flex;
    height: 500px;
    display: grid;
    grid-template-areas: 'cel1 cel2 cel3';
}
.container .content .cel1{
    background-color: rgb(164, 251, 114);
    grid-area: cel1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.content .cel1 .left1{
    background-color: black;
    width: 70%;
    height: 80px;
}
.content .cel1 .left2{
    width: 70%;
    background-color: rgb(242, 191, 172);
    height: 80px;
    text-align: center;
}
.content .cel1 .left3{
    width: 70%;
    background-color: rgb(112, 246, 243);
    height: 80px;
    text-align: center;
}
.container .content .cel2{
    background-color: rgb(126, 85, 73);
    grid-area: cel2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.content .cel2 .center1{
    background-color: rgb(141, 251, 154);
    width: 70%;
    height: 80px;
}
.content .cel2 .center2{
    width: 80%;
    background-color: rgb(247, 198, 240);
    height: 80px;
    text-align: center;
}
.content .cel2 .center3{
    width: 90%;
    background-color: rgb(161, 234, 83);
    height: 80px;
    text-align: center;
}
.container .content .cel3{
    background-color: rgb(211, 139, 232);
    grid-area: cel3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.content .cel3 .right1{
    width: 70%;
    background-color: rgb(238, 232, 46);
    height: 80px;
    text-align: center;
}
.content .cel3 .right2{
    width: 70%;
    background-color: rgb(37, 221, 160);
    height: 80px;
    text-align: center;
}
.container .footer{
    background-color: black;
    height: 70px;
    color: aliceblue;
}
