body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(172, 255, 255);
  font-size: medium;
  font-weight: normal;
  margin: 0;
  padding: 25px;
  margin-top: 15px;
}
img {
  float: left;
  max-width: 100px;
  max-height: auto;
  border-radius: 5;
  margin-bottom: 100px;
  margin-left: 100px;
  
}